The application shall allow the leader vehicle to move forward by remote control
The application shall allow the leader vehicle to move backwards by remote control
The application shall allow the leader vehicle to turn left by remote control
The application shall allow the leader vehicle to turn right by remote control
The application shall be able to transmit position changes to the follower vehicle
The application shall allow the follower vehicle to interpret position changes into left position motion.
The application shall allow the follower vehicle to interpret position changes into right position motion.
The application shall allow the follower vehicle to interpret position changes into forward position motion.
The application shall allow the follower vehicle to interpret position changes into backwards position motion.
The application shall prevent the follower from colliding with the leader vehicle
